@import "globals.less";

article.lb-post:not(.lb-post--sticky) {
  padding-left: 20px;
  
  &::before {
    content: none;
  }
}

@media @tablet {
  article.lb-post {
    padding-top: 40px;
  }
  article.lb-post:not(.lb-post--sticky) {
    padding-left: 30px;
  }
}

.lb-post-timeago {
  color: @darkgrey;
  display: inline;
  font-size: 14px;
  letter-spacing: 0.03em;
}